*{
    margin:0;
    padding:0;
}

:root{
    --bg-color1: rgb(255, 255, 255);
    --calc-bg: #1e1e1e;
    --display-bg: white;
    --display-text: rgb(0, 0, 0);
    --btn-bg1: #7c7c7c;
    --btn-bg2: #2e2e2e;
    --btn-bg3: #7c7c7c;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color1);
    
}


.calci{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--calc-bg);
    padding: 10px;
    border-radius: 10px;
}

#display{
    background-color: var(--display-bg);
    border-radius: 10px;
    border: none;
    outline: none;
    width: 300px;
    height: 100px;
    color: var(--display-text);
    font-size: 45px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
}


.allbuttons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.bt:hover{
    background-color: rgb(77, 77, 77);
}

.mycol{
    display:flex;
    flex-direction: column;
}

.bt{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    margin: 5px;
    font-size: 25px;
}

.bt1{
    background-color: var(--btn-bg1);
    color: white;
}

.bt2{
    background-color: var(--btn-bg2);
    color: white;
}

.bt3{
    background-color: var(--btn-bg3);
    color: white;
}